<% if @user.errors.any? %>
  <h1>error occurd!!</h1>
  <div class="error-alert">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li class='error-message'>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>